<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <link rel="stylesheet" href="styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="styles/skeleton.css" type="text/css" />
</head>
<body>
    <main>
        <section>
            <p id="title">Todolist - A Marcy Lab Project</p>
        </section>
        
        <section id="index-buttons">
            <button><a href="/register">Register</a></button>
            <button><a href="/login">Login</a></button>
        </section>
    </main>
</body>
</html>