<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/register.css" type="text/css" />
    <link rel="stylesheet" href="styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="styles/skeleton.css" type="text/css" />
</head>
<body>

<h1>Sign Up!</h1>

  <section class="form">
    <form method='POST' id="registerForm" action='/register'>
      <fieldset class='form-field'>
        <label for="name">Full Name</label>
        <input type="text" name="name" id="">

        <label for="email">Email</label>
        <input type='email' name='email' id=""/>

        <label for="passwordInput">Password</label>
        <input type="password" name="password" id="passwordInput" />

         <button>Register</button>
         
        <a class="" href="/login">Already have an account?</a>
      </fieldset>
    </form>
  </section>
</body>
</html>