
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/todoList.css" type="text/css" />
    <link rel="stylesheet" href="styles/normalize.css" type="text/css" />
    <link rel="stylesheet" href="styles/skeleton.css" type="text/css" />
</head>
<body>

<h1>Your Todo's!</h1>

  <section>
    <ul>
      <li>Clean Your Room</li>
    </ul>
    <a href="/logout">logout</a>
  </section>
  <script type="text/javascript" src="js/todoList.js"></script>
</body>
</html>












